@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    color: white;
    height: 100vh;
    font-family: "Lato", sans-serif;
}

.sidebar {
    flex: 20%;
    background-color: rgb(31, 30, 30);
}

.main {
    flex: 80%;
    background-color: rgb(17, 15, 15);
}

h1 {
    margin: 20px;
}

h2 {
    margin: 30px;
}

li {
    list-style-type: none;
    margin: 40px;
    cursor: pointer;
}

button {
    margin-left: 50px;
    background: none;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.tree, .tree ul {
    margin: 0;
    padding-left: 50px;
    position: relative;
}

.tree li {
    margin: 0;
    padding: 5px 0;
    position: relative
}

/* vertical line */
.tree li::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px; /* adjust to align with parent */
  bottom: 0;
  width: 1px;
  background: white;
}

/* horizontal branch */
.tree li::after {
  content: '';
  position: absolute;
  top: 12px; /* halfway down the li */
  left: -10px; /* same as vertical line */
  width: 10px;
  height: 1px;
  background: white;
}

/* Remove vertical line from root */
.tree > li::before {
  display: none;
}