@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    color: white;
    height: 100vh;
    font-family: "Lato", sans-serif;
}

.sidebar {
    flex: 20%;
    background-color: rgb(31, 30, 30);
}

.main {
    flex: 80%;
    background-color: rgb(17, 15, 15);
}

h1 {
    margin: 20px;
}

h2 {
    margin: 30px;
}

li {
    list-style-type: none;
    margin: 40px;
    cursor: pointer;
}

.arrow-icon {
    position: relative;
    bottom: 3px;
}



button {
    margin-left: 50px;
    background: none;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

